html, body, form
{
	height: 100%;
}
body
{
    font-family: Century Gothic;
    padding: 0;
    margin: 0;
}
#geral
{
	position: relative;
	min-height: 100%;
	background-image: url("../Images/Background_Login.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
* html #geral
{
	height: 100%;
}
fieldset
{
    position: absolute;
    left: 33%;
    top: 45%;
    width: 300px;
    height: 260px;
    -moz-box-shadow: 0 0 20px #2c2d30;
    -webkit-box-shadow: 0 0 20px #2c2d30;
    -msie-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
fieldset h2
{
    font-family: 'Century Gothic';
    font-size: 45px;
    margin-top: 1px;
    margin-left: 30%;
    padding: 2PX;
}
fieldset #content_login
{
    margin: 20px 0;
}
fieldset #editorfor
{
    color: #000000;
}
fieldset label
{
    margin-left: 20%;
    display: block;
    color: #fff;
}
fieldset input[type=text], fieldset input[type=password]
{
    padding: 2px;
    margin: 2px;
    width: 50%;
    margin-left: 20%;
    vertical-align: central;
    color: #000000;
}
fieldset #check-box
{
    margin-left:40%;
    margin-top:0;
}
fieldset input[type=button], fieldset input[type=submit]
{
    background-color: #646464;
    -msie-border-radius: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: bold;
}
