@model Atenda.Data.OrdemServico

@{
    ViewBag.Title = "Buscar Cliente";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-open">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Buscar OS</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <b class="control-label col-md-2">Nº da OS</b>
                        <div class="col-md-10">
                            <input type="number" name="NumOS" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Buscar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}