<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Cadastrar</h1>

    <div class="row placeholders" style="align-self:center">
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="../Cliente/CreateCliente"><img src="../images/Cliente.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>Cliente</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="../OrdemServico/CreateOS"><img src="../images/OrdemServico.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>Ordem de Serviço</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="../Agenda/CreateAgenda"><img src="../images/Agenda.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>Atendimento</h4>
            <span class="text-muted">Something else</span>
        </div>
        @if (Session["Adm"] != null)
        {
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="../Tecnico/CreateTecnico"><img src="../images/Tecnico.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h4>Tecnico</h4>
                <span class="text-muted">Something else</span>
            </div>
        }
    </div>

    <h2 class="sub-header">Para Hoje!</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ordem</th>
                    <th>Cliente</th>
                    <th>Serviço</th>
                    <th>Local</th>
                    <th>Tecnico</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Fulando</td>
                    <td>Trocar Senha Wifi</td>
                    <td>Casa do cliente</td>
                    <td>Ciclano</td>
                </tr>                
            </tbody>
        </table>
    </div>
</div>