@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <table>
            <caption><h1>Cliente</h1></caption>
            <tr>
                <td>
                    <img class="img-responsive" title="Cliente" src="~/Image/Cliente_Icon-Atenda.png" />
                </td>
                <td>
                    <p><a href="~/Cliente/CreateCliente" class="btn btn-xs"><img class="img-responsive" title="Cadastrar" src="~/Image/CreateOption_Icon-Atenda.png"></a></p>
                    <p><a href="~/Cliente/ListClientes" class="btn btn-xs"><img class="img-responsive" title="Listar" src="~/Image/ListOption_Icon-Atenda.png"></a></p>
                  
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <caption><h1>OS</h1></caption>
            <tr>
                <td>
                    <img class="img-responsive" title="Ordem de Serviço" src="~/Image/OS_Icon-Atenda.png" />
                </td>
                <td>
                    <p><a href="~/OrdemServico/CreateOS" class="btn btn-xs"><img class="img-responsive" title="Cadastrar" src="~/Image/CreateOption_Icon-Atenda.png"></a></p>
                    <p><a href="~/OrdemServico/ListOS" class="btn btn-xs"><img class="img-responsive" title="Listar" src="~/Image/ListOption_Icon-Atenda.png"></a></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <caption><h1>Tecnico</h1></caption>
            <tr>
                <td>
                    <img class="img-responsive" title="Tecnico" src="~/Image/Tecnico_Icon-Atenda.png" />
                </td>
                <td>
                    <p><a href="~/Tecnico/CreateTecnico" class="btn btn-xs"><img class="img-responsive" title="Cadastrar" src="~/Image/CreateOption_Icon-Atenda.png"></a></p>
                    <p><a href="~/Tecnico/ListTecnicos" class="btn btn-xs"><img class="img-responsive" title="Listar" src="~/Image/ListOption_Icon-Atenda.png"></a></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <caption><h1>Orçamento</h1></caption>
            <tr>
                <td>
                    <img class="img-responsive" title="Orçamento" src="~/Image/Orcamento_Icon-Atenda.png" />
                </td>
                <td>
                    <p><a href="~/Orcamento/CreateOrcamento" class="btn btn-xs"><img class="img-responsive" title="Cadastrar" src="~/Image/CreateOption_Icon-Atenda.png"></a></p>
                    <p><a href="~/Orcamento/ListOrcamentos" class="btn btn-xs"><img class="img-responsive" title="Listar" src="~/Image/ListOption_Icon-Atenda.png"></a></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <caption><h1>Produto</h1></caption>
            <tr>
                <td>
                    <img class="img-responsive" title="Produto" src="~/Image/Produto_Icon-Atenda.png" />
                </td>
                <td>
                    <p><a href="~/Produto/CreateProduto" class="btn btn-xs"><img class="img-responsive" title="Cadastrar" src="~/Image/CreateOption_Icon-Atenda.png"></a></p>
                    <p><a href="~/Produto/ListProdutos" class="btn btn-xs"><img class="img-responsive" title="Listar" src="~/Image/ListOption_Icon-Atenda.png"></a></p>
                </td>
            </tr>
        </table>
        <br />
    </div>
    <div class="col-md-4">
        <table>
            <caption><h1>Agenda</h1></caption>
            <tr>
                <td>
                    <img class="img-responsive" title="Agenda" src="~/Image/Agenda_Icon-Atenda.png" />
                </td>
                <td>
                    <p><a href="~/Agenda/CreateAgenda" class="btn btn-xs"><img class="img-responsive" title="Cadastrar" src="~/Image/CreateOption_Icon-Atenda.png"></a></p>
                    <p><a href="~/Agenda/ListAgendas" class="btn btn-xs"><img class="img-responsive" title="Listar" src="~/Image/ListOption_Icon-Atenda.png"></a></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-11">
        @Html.Partial("IndexListAgendas", ViewBag.Agenda as List<Atenda.Data.Agenda>)
    </div>
</div>